@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

body, html {
    font-family: "Open Sans", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #2E385C;
}

.header-container {
    width: 50%;
    padding: 8%;
}

.header-container img {
    width: 40%;
    height: 40%;
}

.header-container h1, .header-container p {
    color: white;
}

.header-container h1 {
    font-size: 2.5em;
}

.header-container p {
    font-size: 1.5em;
}

.header-container i {
    font-size: 1.6em;
}

.form-container {
    width: 50%;
    margin: 5%;
    padding: 3%;
    height: 65%;
    width: 35%;
    background-color: #DB80EF;
    border-radius: 5%;
}

.form-container form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-container input, .form-container select {
    padding: 2%;
    font-size: 1em;
}

.form-container input[type="text"], .form-container input[type="date"], .form-container input[type="time"] {
    width: 100%;
}

.form-container select, .form-container input[type="submit"] {
    width: 105%;
}

.form-container input[type="text"], .form-container input[type="date"], .form-container select {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.form-container input[type="submit"] {
    border: none;
    border: 2px solid #3A6FA4;
    background-color: #5994CE;
    color: white;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #3A6FA4;
    transition-duration: 300ms;
}