.results-container input {
    padding: 2%;
    font-size: 16px;
    width: 105%;
    border: none;
    border: 2px solid #3A6FA4;
    background-color: #5994CE;
    color: white;
    cursor: pointer;
}

.results-container input {
    background-color: #3A6FA4;
    transition-duration: 300ms;
}